<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight">
        <activity android:name=".PriceHistoryOfItemActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PriceHistoryMenuActivity" />
        </activity>
        <activity android:name=".UpdateActivity" />
        <activity android:name=".PriceHistoryMenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".ComingSoonActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".DonateActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CreditsActivity" />
        </activity>
        <activity android:name=".CreditsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".GreetingActivity" />

        <meta-data
            android:name="com.google.android.gms.games.APP_ID"
            android:value="@string/app_id" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".GoogleSignInActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".StonkActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ChallengeActivity" />
        </activity>
        <activity android:name=".InertialFrameActivity" />
        <activity android:name=".ChallengeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".BannedActivity" />
        <activity android:name=".MinionOptimizerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".ExtraDetailViewPricesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ViewPricesNoScrollActivity" />
        </activity>
        <activity android:name=".FavoriteActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".AgreementActivity" />
        <activity android:name=".NPCFlipActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ArbitrageMenu" />
        </activity>
        <activity android:name=".BazaarFlipActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ArbitrageMenu" />
        </activity>
        <activity android:name=".ArbitrageMenu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".SettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".ViewPricesNoScrollActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".ViewPricesActivity"
            android:label="@string/title_activity_view_prices"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".DemonstrationActivity" />
        <activity android:name=".KeyActivity" />
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>